@media only screen and (max-width: 420px) {

  @import url("https://www.transparenttextures.com/patterns/diamond-upholstery.png");

  #page-header {
    background-color: #cc8800;
    background-image: url("https://www.transparenttextures.com/patterns/diamond-upholstery.png");
    color: #FFFFFF;
    height: 520px;
    width: 100vw;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    z-index: 2;
  }

  .img {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (min-width: 421px) {

  @import url("https://www.transparenttextures.com/patterns/diamond-upholstery.png");

  #page-header {
    background-color: #cc8800;
    background-image: url("https://www.transparenttextures.com/patterns/diamond-upholstery.png");
    color: #FFFFFF;
    height: auto;
    width: 50vw;
    flex-direction: column;
    justify-content: flex-top;
    align-items: center;
    position: relative;
    z-index: 2;
    top: 120px;
  }

  .img {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}